apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-script
  namespace: tofork
data:
  init.sql: |
    CREATE SCHEMA IF NOT EXISTS user_service AUTHORIZATION postgres;
    CREATE SCHEMA IF NOT EXISTS order_service AUTHORIZATION postgres;
    CREATE SCHEMA IF NOT EXISTS restaurant_service AUTHORIZATION postgres;
    CREATE SCHEMA IF NOT EXISTS payment_service AUTHORIZATION postgres;
    CREATE SCHEMA IF NOT EXISTS booking_service AUTHORIZATION postgres;
    ALTER DATABASE tofork SET search_path TO user_service, order_service, restaurant_service, payment_service, booking_service, public;