apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-service
  namespace: tofork
  labels:
    app: booking-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: booking-service
  template:
    metadata:
      labels:
        app: booking-service
    spec:
      containers:
        - name: booking-service
          image: tofork/booking-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8085
          env:
            - name: SERVER_PORT
              value: "8085"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres:5432/tofork?currentSchema=booking_service"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom: { secretKeyRef: { name: postgres-secret, key: POSTGRES_USER } }
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom: { secretKeyRef: { name: postgres-secret, key: POSTGRES_PASSWORD } }
            - name: JWT_SECRET
              value: "mySecretKeyWhichIsLongEnoughForHS256"