apiVersion: v1
kind: Service
metadata:
  name: booking-service # Nome DNS interno
  namespace: tofork
spec:
  selector:
    app: booking-service
  ports:
    - protocol: TCP
      port: 8085
      targetPort: 8085
  type: ClusterIP