apiVersion: v1
kind: Service
metadata:
  name: payment-service # Nome DNS interno
  namespace: tofork
spec:
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8084
  type: ClusterIP